@import "tailwindcss";

::-webkit-scrollbar { display: none; }
* { -ms-overflow-style: none; scrollbar-width: none; }

@theme {
  --color-brand-dark: #0f172a;
  --color-brand-primary: #3b82f6;
  --color-brand-accent: #10b981;
}

body {
  background-color: #0f172a;
  color: white;
  font-family: sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}